extends layout

block head-addcss
  if stylesheet
    link(rel='stylesheet', href='#{stylesheet}')

block content
  article
    header
      .article-meta
        time= datePrint
      if customHeading
        != customHeading
      else
        h1= title
    != body
  nav
    a(href='/', class='home') Matt Berti Blog