extends layout

block content
  h1= title
  .articles
    each article, index in articles
      article.blog
        header
          .article-meta= article.datePrint
          h2: a(href="/blog/" + article.key)!= article.title
        != article.leadin