extends layout

block content
  h1= title
  .articles
    each article, index in articles
      article
        header
          .article-meta= article.datePrint
          h2: a(href="/blog/" + article.key title=article.title)!= article.title
        != article.leadin