h1 {
  font-size: 3.6em;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content; }

.demo-cfp--flexcontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .demo-cfp--flexcontainer > * {
    display: block;
    margin: 0;
    padding: 0; }
  .demo-cfp--flexcontainer.demo-cfp--styled {
    background-color: black;
    margin: 0;
    padding: 0 0 5px 5px; }
    .demo-cfp--flexcontainer.demo-cfp--styled > * {
      margin: 5px 5px 0 0;
      background-color: pink;
      color: black;
      padding: 0 5px; }
  .demo-cfp--flexcontainer.w-small {
    width: 15em; }
    .demo-cfp--flexcontainer.w-small > * {
      min-width: 4em; }
  .demo-cfp--flexcontainer.demo-cfp--flexcontainer-wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }

.demo-cfp--flexlines-width-auto > * {
  -webkit-box-flex: 1;
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto; }

.demo-cfp--nav-styled {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 5px;
  list-style: none;
  background-color: #C6E2C5; }
  .demo-cfp--nav-styled > * {
    min-width: -webkit-min-content;
    min-width: -moz-min-content;
    min-width: min-content;
    /* Prevent items from getting too small for their content. */
    margin: .5em;
    padding: 0.3em 1em;
    background-color: #292929;
    font-size: .7em;
    color: #C6E2C5; }
    .demo-cfp--nav-styled > * a {
      color: #C6E2C5;
      text-decoration: none;
      font-weight: bold; }
  .demo-cfp--nav-styled > :last-child {
    margin-left: auto; }

.demo-cfp--model > * {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.demo-cfp--figure {
  background-color: black;
  margin: .5em auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content; }
