@import "utilities/normalize";
@import "objects/highlightcode";

@mixin breakpoint($break) {
  @if $break == large { // anything bigger than ipad
    @media (min-width: 1030px) { @content; }
  }
  @else if $break == medium {
    @media (min-width: 640px) { @content; }
  }
  @else if $break == small { // Bigger than iPhone 5
    @media (min-width: 330px) { @content; }
  } @else {
    @media ($break) { @content; }
  }
}
// use:
// body {
// @include breakpoint(large) { background: red; }
// @include breakpoint(medium) { background: cyan; }
// @include breakpoint(small) { background: green; }
// @include breakpoint(“max-width: 480px”) { background: yellow; }
// }

body {
  font: normal 100% sans-serif;
  padding: 1em 0;
}

body > h1 {
  margin: 1em;
}

article.blog {
  & > {
    // Font sizes
    .article-meta, footer, section, p, pre, figure, ul, ol, dl, blockquote {
      font-size: 4.3vw;
      line-height: 1.6;

      @include breakpoint(small) {
        font-size: 3.3vw;
      }

      @include breakpoint(medium) {
        font-size: 2vw;
      }

      @include breakpoint(large) {
        font-size: 1.5vw;
      }
    }

    // Widths & margins
    .article-meta, footer, section, h2, h3, h4, h5, h6, 
    p, pre, figure, ul, ol, dl, blockquote, hr, img {
      width: 98%;
      margin-right: auto;
      margin-left: auto;

      @include breakpoint(small) {
        width: 90%;
      }

      @include breakpoint(medium) {
        width: 80%;
      }

      @include breakpoint(large) {
        width: 50%;
      }
    }

    // Popout items
    .pop, pre, blockquote {
      box-sizing:  border-box;

      @include breakpoint(small) {
        width: 100%;
      }

      @include breakpoint(medium) {
        width: 90%;
      }

      @include breakpoint(large) {
        width: 60%;
      }
    }
  }

  h1 {
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
  }

  pre {
    padding: 1em 5%;
    overflow: auto;
    background: #f7fafb;
    counter-reset: linenumbers;
      line-height: 1;
  }

  blockquote {
    padding: 0 0 0 5%;
    position: relative;
    &:before {
      display: block;
      position: absolute;
      left: -0.065em;
      top: -.2em;
      content: "\201C";
      font-size: 5em;
      font-family: Georgia;
      color: #7a7a7a;
      line-height: 1;
    }
    p {
      font-size: 1.4em;
      font-style: italic;
      font-family: serif;
      letter-spacing: -.015em;
    }
    footer {
      color: #777;
      font-size: 1.2em;
      margin-top: -.5em;
      
      &:before {
        content: '\2014 \00A0';
      }
    }
  }

  & + nav {
    margin: 2em 1em;
    font-size: 2vw;
    > a {
      &:before {
        content: '\21B5 \00A0';
      }
    }
  }
}

.articles {
  article + article {
    margin-top: 2em;
  }
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  text-rendering: optimizeLegibility;
  line-height: 1;
  font-family: 'Open Sans',sans-serif;
  letter-spacing: -.05em;
  color: #282828;

  a {
    color: black;
  }
}

h1 {
  font-size: 7vw;
}

h2 {
  font-size: 6vw;
}

h3 {
  font-size: 5.5vw;
}

h4 {
  font-size: 5.2vw;
}

h5 {
  font-size: 4.9vw;
}

h6 {
  font-size: 4.6vw;
}

a {
  color: #0037ff;
  transition: color ease .3s;

  &:hover {
    color: #00b7ff;
  }
}

img {
  max-width: 100%;
}

figure {
  > img {
    display: block;
    margin:auto;
  }
  figcaption {
    margin: 1em auto;
    text-align: center;
    font-style: italic;
    font-size: .9em;
  }
}

dl dt, dl dd {
  margin-top: .4em;
}

code, tt {
  font-family: Inconsolata,monospace,sans-serif;
  font-size: .85em;
  white-space: pre-wrap;
  background-color: #FFCFD8;
}

pre code, tt {
  font-size: .85em;
  white-space: pre;
  line-height: 1;
  background: transparent;
  border: none;
  padding: .1em;
}

pre code:before, tt:before {
  content: counter(linenumbers);
  counter-increment: linenumbers;
  left: -3ex;
  position: absolute;
  text-align: right;
  width: 2.5ex;
}

kbd {
  display: inline-block;
  margin-bottom: .4em;
  padding: 1px 8px;
  border: #ccc 1px solid;
  color: #666;
  text-shadow: #fff 0 1px 0;
  font-size: .9em;
  font-weight: bold;
  background: #f4f4f4;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 1px 0 0 #fff inset;
}

/*html {
  height: 100%;
  max-height: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
  max-height: 100%;
  padding: 8% 10%;
  font: 1.4em "Lucida Grande",Helvetica,Arial,sans-serif;
}

#content {
  max-width: 1000px;
  margin: 0 auto;
}

article {
  font: normal 1.8em/1.35 "Open Sans",sans-serif;
}

article + article {
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

h1,h2,h3,h4,h5,h6 {
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-top: 0;
  font-family: 'Open Sans',sans-serif;
}

h1 {
  font-size: 5rem;
  line-height: 1.2em;
  letter-spacing: -2px;
  text-indent: -3px;
  font-family: 'JokalRegular';
}

h2 {
  font-size: 4rem;
  line-height: 1.2em;
  letter-spacing: -1px;
  text-indent: -2px;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 3rem;
}

h5 {
  font-size: 2.5rem;
}

h6 {
  font-size: 2rem;
}

a {
  color: #0037ff;
  transition: color ease .3s;
}

a:hover {
  color: #00b7ff;
}

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
  color: #000;
}

p,ul,ol,dl {
  margin: 1.6em 0;
}

ol ol,ul ul,ul ol,ol ul {
  margin: .4em 0;
}

dl dt {
  float: left;
  width: 180px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  margin-bottom: 1em;
}

dl dd {
  margin-left: 200px;
  margin-bottom: 1em;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #efefef;
  margin: 3.2em 0;
  padding: 0;
}

blockquote {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1.6em 0 1.6em -1.5em;
  padding: 0 0 0 1.1em;
  border-left: #4a4a4a .4em solid;
}

blockquote p {
  margin: .8em 0;
  font-style: italic;
  font-family: serif;
}

blockquote small {
  display: inline-block;
  margin: .8em 0 .8em 1.5em;
  font-size: .9em;
  color: #ccc;
}

blockquote small:before {
  content: '\2014 \00A0';
}

blockquote cite {
  font-weight: bold;
}

code,tt {
  font-family: Inconsolata,monospace,sans-serif;
  font-size: .85em;
  white-space: pre-wrap;
}

pre {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1.6em 0;
  width: 100%;
  padding: 10px;
  font-family: Inconsolata,monospace,sans-serif;
  font-size: .9em;
  white-space: pre;
  overflow: auto;
  background: #f7fafb;
  position: relative;
  counter-reset: linenumbers;
}

pre code,tt {
  font-size: .8em;
  white-space: pre;
  background: transparent;
  border: none;
  padding: .1em;
}

pre code:before,tt:before {
  content: counter(linenumbers);
  counter-increment: linenumbers;
  left: -3ex;
  position: absolute;
  text-align: right;
  width: 2.5ex;
}

kbd {
  display: inline-block;
  margin-bottom: .4em;
  padding: 1px 8px;
  border: #ccc 1px solid;
  color: #666;
  text-shadow: #fff 0 1px 0;
  font-size: .9em;
  font-weight: bold;
  background: #f4f4f4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 1px 0 0 #fff inset;
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 1px 0 0 #fff inset;
  box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 1px 0 0 #fff inset;
}

table {
  box-sizing: border-box;
  margin: 1.6em 0;
  width: 100%;
  max-width: 100%;
  background-color: transparent;

  th, td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #efefef;
  }

  th {
    color: #000;
  }
}

.article-meta {
  color: #9eabb3;
  font-size: .8em;
}

.article-meta a {
  color: #9eabb3;
}

.article-meta a:hover {
  text-decoration: underline;
}

article a.more {
  text-decoration: none;
}

article footer a.home {
  position: relative;
}

article footer a.home:before {
  content: '\2190';
  position: absolute;
  left: -23px;
}*/